.app
  height: 100%

  .dark-mode-toggle
    position: fixed
    top: 1rem
    right: 1rem

  .container
    height: 100%
    display: flex
    justify-content: center
    align-items: center

    .ui
      &.menu .item
        width: 50% !important
      &.dropdown
        margin-bottom: 1rem
        width: 100%
      &.segment
        padding: 0
